<ion-content>
  <ion-slides class="mainSlide">

      <ion-slide>
          <form (ngSubmit)="login( fLogin )" #fLogin="ngForm">
              <ion-grid class="grid-fixed">

                <ion-row class="ion-align-items-center ion-justify-content-center">
                    
                    
                        <ion-col size="12">
                            <img src="../../../assets/imgs/atlantic-logo.png">
                        </ion-col>
                    
  
                    
                        <ion-col size="12">
  
                            <ion-list>
  
                                <ion-item>
                                    <ion-label>Email</ion-label>
                                    <ion-input name="email" type="email" [(ngModel)]="loginUser.email" required></ion-input>
                                </ion-item>
  
                                <ion-item>
                                    <ion-label>Password</ion-label>
                                    <ion-input name="password" type="password" [(ngModel)]="loginUser.password" required></ion-input>
                                </ion-item>
  
                            </ion-list>
                        </ion-col>
                    
  
                    
                        <ion-col size="12">
                              <ion-button fill="outline" expand="block" shape="round" type="submit" color="tertiary">
                                  Ingresar
                              </ion-button>
                        </ion-col>
                    
                </ion-row>

              </ion-grid>
          </form>
      </ion-slide>
  </ion-slides>

</ion-content>
